[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
cookiecutter = "*"
invoke = "*"
requests = "*"

[dev-packages]
black = "*"
codecov = "*"
pylint = "*"
pytest = "*"
pytest-cookies = "*"
pytest-cov = "*"
pytest-dotenv = "*"
requests-mock = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
